.container-cards {
  width: 900px;
  margin: auto;
  text-align: center;
  align-items: center;
  margin-bottom: 30px;

}
.container-cards h2 {

  margin-bottom: 20px;
}
.card-repo {
  display: flex;
  justify-content: space-between;
}
